---
import { Image } from "astro:assets";
import { Spotify, Refresh } from "#svgs";

let { year, content } = Astro.props;

const size = 80;

let imageProps = {
  alt: `Artwork for my ${year} playlist.`,
  src: content.thumbnail,
  format: "webp",
  height: size,
  width: size,
};
---

<header>
  <button class="refresh-artwork">
    <div class="refresh-wrap">
      <Refresh className="refresh-icon" />
    </div>
    <Image {...imageProps} className="image" />
  </button>
  <div class="wrap-details">
    <div class="details">
      <div class="wrap-name">
        {
          content.url ? (
            <a href={content.url} class="name">
              {content.name}
            </a>
          ) : (
            <span class="name">{content.name}</span>
          )
        }
      </div>
      <div class="wrap-owner">
        <a href={content.owner.url} class="owner">{content.owner.name}</a>
      </div>
    </div>
    <div class="wrap-logo">
      <div class="logo"><Spotify /></div>
    </div>
  </div>
</header>

<style lang="scss">
  @use "#styles/mixins" as *;

  header {
    grid-template-columns: toRem(80) toRem(176);
    background-color: #222b1b;
    display: grid;
  }

  .refresh-artwork {
    align-items: center;
    display: grid;

    .refresh-icon {
      transform: rotate(0deg) scale(1);
      transition: transform 200ms;
    }

    @include focus {
      outline: transparent;

      .refresh-wrap {
        opacity: 1;
      }
    }
  }

  .refresh-artwork:active .refresh-icon {
    transform: rotate(90deg) scale(0.9);
  }

  .refresh-wrap {
    background-color: rgba(black, 0.8);
    justify-content: center;
    align-items: center;
    position: relative;
    grid-area: 1/1;
    display: grid;
    height: 100%;
    z-index: 2;
    opacity: 0;
  }

  .image {
    grid-area: 1/1;
  }

  .wrap-details {
    grid-template-columns: toRem(132) toRem(24);
    padding: toRem(6);
    gap: toRem(6);
    display: grid;
  }

  .details {
    text-align: left;
  }

  .wrap-logo {
    padding-top: toRem(4);
  }

  .wrap-name {
    font-size: 0;
  }

  .wrap-owner {
    font-size: 0;
  }

  .name,
  .owner {
    @include track_name;
  }
</style>
