---
import { Image } from "astro:assets";
import Logo from "#svgs/spotify";

let { year, content } = Astro.props;

const size = 80;

let imageProps = {
  alt: `Artwork for my ${year} playlist.`,
  src: content.thumbnail,
  format: "webp",
  class: "image",
  height: size,
  width: size,
};
---

<header>
  <Image {...imageProps} />
  <div class="wrap-details">
    <div class="details">
      <div class="wrap-name">
        {
          content.url ? (
            <a href={content.url} class="name">
              {content.name}
            </a>
          ) : (
            <span class="name">{content.name}</span>
          )
        }
      </div>
      <div class="wrap-owner">
        <a href={content.owner.url} class="owner">{content.owner.name}</a>
      </div>
    </div>
    <div class="wrap-logo">
      <div class="logo"><Logo /></div>
    </div>
  </div>
</header>

<style lang="scss">
  @use "#styles/mixins" as *;

  header {
    grid-template-columns: toRem(80) toRem(176);
    background-color: #222b1b;
    display: grid;
  }

  .image {
    line-height: $line-height-md;
    font-size: $font-size-alt;
  }

  .wrap-details {
    grid-template-columns: toRem(132) toRem(24);
    padding: toRem(6);
    gap: toRem(6);
    display: grid;
  }

  .details {
    text-align: left;
  }

  .wrap-logo {
    padding-top: toRem(4);
  }

  .wrap-name {
    font-size: 0;
  }

  .wrap-owner {
    font-size: 0;
  }

  .name,
  .owner {
    @include track_name;
  }
</style>
