---
import Link from "#components/window/spotify/link";

let { url, name, artist, number } = Astro.props;
---

<div class="container">
  <div class="number">{number}</div>
  <div class="details">
    <Link href={url} className="wrap-track-name">{name}</Link>
    <Link href={artist.url} className="wrap-artist-name">{artist.name}</Link>
  </div>
</div>

<style lang="scss">
  @use "#styles/mixins" as *;

  @mixin wrap_name {
    text-align: left;
    font-size: 0;
  }

  .container {
    grid-template-columns: 1.875rem auto;
    gap: 0.3125rem;
    display: grid;
  }

  .number {
    position: relative;
    color: #a0a19e;
    top: 0.1875rem;
  }

  .details {
    overflow: hidden;
  }

  .wrap-track-name {
    @include wrap_name;
  }

  .track-name {
    @include track_name;
  }

  .wrap-artist-name {
    @include wrap_name;
  }

  .artist-name {
    @include track_name;

    & {
      color: #a0a19e;
    }
  }
</style>
