---
const { track, number, url } = Astro.props;
const { name, artist } = track;
---

<div class="container">
  <div class="number">{number}</div>
  <div class="details">
    <div class="wrap-track-name">
      <a href={url} class="track-name">{name}</a>
    </div>
    <div class="wrap-artist-name">
      <a href={artist.url} class="artist-name">{artist.name}</a>
    </div>
  </div>
</div>

<style lang="scss">
  @use "#styles/mixins" as *;

  .container {
    grid-template-columns: 1.5rem auto;
    gap: 0.3125rem;
    display: grid;
  }

  .number {
    position: relative;
    color: #a0a19e;
    top: 0.1875rem;
  }

  .details {
    overflow: hidden;
  }

  .wrap-track-name {
    font-size: 0;
  }

  .track-name {
    @include track_name;
  }

  .wrap-artist-name {
    font-size: 0;
  }

  .artist-name {
    @include track_name;

    & {
      color: #a0a19e;
    }
  }
</style>
